<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- <pattern>%d [%5p] %40.40c:%4L - %m%n</pattern> -->
      <pattern>%5p | %-55logger{55} | %4L | %m%n</pattern>
    </encoder>
  </appender>

  <logger name="kr.co.bsisys" level="debug" />
  
  <logger name="org.springframework" level="info" />
  <logger name="org.springframework.data" level="debug" />
  <logger name="org.springframework.web.servlet.view" level="debug" />
  <logger name="org.springframework.aop.interceptor" level="trace" />
  
  <logger name="com.jolbox" level="debug" />
  
  <logger name="java.sql.Connection" level="warn" />
  <logger name="java.sql.PreparedStatement" level="warn" />
  <logger name="java.sql.ResultSet" level="warn" />
  
  <logger name="jdbc.connection" level="warn" />
  <logger name="jdbc.audit" level="warn" />
  <logger name="jdbc.sqlonly" level="warn" />
  <logger name="jdbc.resultset" level="warn" />
  <logger name="jdbc.resultsettable" level="debug" />
  <logger name="org.apache.ibatis" level="warn" />
  <logger name="org.mybatis.spring" level="warn" />
  <logger name="org.mybatis.spring.SqlSessionUtils" level="warn" />

  <root level="info">
    <appender-ref ref="console" />
  </root>

</configuration>