<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 
	'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/conf/applicationContext.xml</param-value>
	</context-param>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<!-- Enables Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<!-- filter>
		<filter-name>hibernate-filter</filter-name>
		<filter-class>lt.walrus.dao.HibernateFilter</filter-class>
		<init-param><param-name>sessionFactoryBeanName</param-name><param-value>hibernateSessionFactory</param-value></init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>hibernate-filter</filter-name>
		<url-pattern>/cms/*</url-pattern>
	</filter-mapping-->

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/cms/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>walrus</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/classes/conf/walrus-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>support</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/classes/conf/support-servlet.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>static</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/classes/conf/static-servlet.xml</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>freemarker</servlet-name>
		<servlet-class>lt.walrus.freemarker.FreemarkerServlet</servlet-class>

		<!-- FreemarkerServlet settings: -->
		<init-param>
			<param-name>TemplatePath</param-name>
			<param-value>/WEB-INF/templates/default</param-value>
		</init-param>
		<init-param>
			<param-name>NoCache</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ContentType</param-name>
			<param-value>text/html</param-value>
		</init-param>

		<!-- FreeMarker settings: -->
		<init-param>
			<param-name>template_update_delay</param-name>
			<param-value>0</param-value><!-- 0 is for development only! Use higher value otherwise. -->
		</init-param>
		<init-param>
			<param-name>default_encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>number_format</param-name>
			<param-value>0.##########</param-value>
		</init-param>

		<load-on-startup>5</load-on-startup>
	</servlet>

	<!-- Serves static resource content from .jar files such as spring-js.jar -->
	<servlet>
	    <servlet-name>Resource Servlet</servlet-name>
	    <servlet-class>org.springframework.js.resource.ResourceServlet</servlet-class>
	</servlet>

	<servlet>
	    <servlet-name>indexjsp</servlet-name>
	    <jsp-file>/index.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>indexjsp</servlet-name>
	    <url-pattern>/cms</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>indexjsp</servlet-name>
	    <url-pattern>/cms/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>walrus</servlet-name>
		<url-pattern>/cms/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>support</servlet-name>
		<url-pattern>/files/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>static</servlet-name>
		<url-pattern>/info/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>freemarker</servlet-name>
		<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>
	        
	<!-- Map all /resources requests to the Resource Servlet for handling -->
	<servlet-mapping>
	    <servlet-name>Resource Servlet</servlet-name>
	    <url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/cms/404</location>
	</error-page>
</web-app>